{% extends 'base.html.twig' %}

{% block title %}Chop Ton Maillot{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">
{% endblock %}

{% block body %}

<section class="hero">
    <h1>⚽ Bienvenue sur Chop Ton Maillot</h1>
    <p>Les plus beaux maillots de football au meilleur prix.</p>

    <a href="#" class="btn">Découvrir la boutique</a>
</section>

<h2>Nos maillots populaires</h2>

<div class="produits">

    {% for maillot in maillots %}
        <div class="carte">

            <img src="{{ maillot.image }}" alt="{{ maillot.nom }}">

            <h3>{{ maillot.nom }}</h3>

            <p>{{ maillot.prix }} €</p>

            <button>Ajouter au panier</button>

        </div>
    {% endfor %}

</div>

{% endblock %}