<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphp_hot_reload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphp_hot_reload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphp_hot_reload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="{{ path('app_home') }}">All4sport</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">

      <!-- centre -->
      <div class="nav-center">
        <form action="{{ path('app_search') }}" method="GET" class="d-flex">
          <input class="form-control me-2" type="search" name="s" placeholder="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
      </div>

      <!-- droite -->
      <ul class="navbar-nav ms-auto order-lg-2">
        <li class="nav-item d-flex align-items-center me-3">
          {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn btn-login">Déconnexion</a>
          {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-login">Connexion</a>
          {% endif %}
        </li>
        <li class="nav-item d-flex align-items-center">
          <a href="{{ path('app_panier_index') }}" class="btn btn-panier">
          <img src="{{ asset('uploads/produits/panier/pan3.png') }}" alt="basket" class="basket">
          </a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a href="{{ path('app_panier_historique') }}" class="btn btn-historique">
          <img src="{{ asset('uploads/produits/panier/historique.webp') }}" alt="basket" class="basket">
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
                
        {% endblock %}
    </body>
</html>
